.App{
  min-height: 100vh;
  /* background: #0a8f82; */
}

.container{
  /* width: 400px; */
  margin: 0 auto;
  padding-top: 50px;
}
.genHeader{
  text-align: center;
  margin-bottom: 2rem;
}
.genPassword{
  width: 100%;
  display: flex;
}
.generatorButton{
  width: 100%;
  padding: 1rem;
  background-color: rgba(9, 9, 138, 0.765);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.generatorButton:hover{
  background-color: green;
  cursor: pointer;
}
.genPassword{
  /* border: 1px solid; */
  /* background: #f3f1f1; */
  display: flex;
  justify-content: space-between;
}
h3{
  border: 1px solid #c4c4c4;
  width: 98%;
  border-radius: 5px;
  background: #efefef;
  height: 2rem;
}
.copyButton{
  background-color: rgba(9, 9, 138, 0.765);
  width: 2%;
  border-radius: 5px;
  border: none;
  color: #fff;
}
.copyButton:hover{
  background-color: green;
}

#passwordLength{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}